$bqbgcol:#f5ffd1;
$bgcol:#fffad1;
$bgsize: 25px;
$bgnorep: no-repeat;
$bgposr: right;
$qwi: 70%;
$qmarg: 40px auto 40px auto;
$fsiz: 120%;
$padl: 20px;

@mixin list {
	background-repeat: $bgnorep;
	background-size: $bgsize;
	background-position: $bgposr;
}

@mixin q {
	width: $qwi;
	margin: $qmarg;
	font-size: $fsiz;
	padding-left: $padl;
	background-color: $bgcol;
}

p,ul{
	font-size: 100%;
	color: rgb(25, 39, 0);
}

a{
	&:visited{
		color:rgb(66, 0, 32);
	}
	&:link{
		color:rgb(83, 128, 0);
	}
	&:hover{
		color:rgb(114, 0, 57);
	}
}
body{
	max-width:90%;
	margin:auto;
	background-image: linear-gradient(to bottom, #efffb7, #fff6a7); 
	font-family: 'Open Sans', sans-serif;
	line-height: 1.5;
	text-align: justify;
}

h1{
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

blockquote{
	width:55%;
	margin:80px auto 80px auto;
	border-left:3px solid rgb(109, 60, 20);
	padding-left: 30px;
	font-size:160%;
	background-color: $bqbgcol;
}
#cat{
	float:left;
	margin-right: 20px;
}

q{
	display:block;
	font-style: italic;
	&.villageois{
		@include q;
		border-left:2px solid rgb(109, 60, 20);
	}
	&.fermier{
		@include q;
		border-left:2px solid rgb(122, 124, 18);
	}
}

header>p{
	font-style: italic;
}

em{
	font-variant: small-caps;
	&.bien{
		color:rgb(74, 104, 17)
	}
	&.mal{
		color:rgb(139, 36, 36)
	}
}
table {
	width: 300px;
	font-size: 90%;
	border-collapse: collapse;
	tr {
		&:nth-child(odd){
			background: white
		}
		&:nth-child(even){
			background: lightyellow
		}
	}
}
caption {
	background: lightyellow;
}
ul {
	margin-right: 675px;
	line-height: 1.75;
	li {
		&:first-child{
			background-image: url("/assets/img/pouceleve.png");
			@include list;	
		}
		&:nth-child(2){
			background-image: url("/assets/img/poucebaisse.png");
			@include list;	
		}
		&:nth-child(3){
			background-image: url("/assets/img/jolichat.png");
			@include list;	
		}
	}
}

h1 + p {
	font-weight: bold;
}

#img1 {
	max-width: 40%;
	height: auto;
	float: right;
	margin-left: 20px;	
}
#img2 {
	margin-right: 20px;	
	max-width: 100%;
}
#img3 {
	margin-left: 20px;
	max-width: 100%;	
}

figure {
	text-align: center;
	font-size: smaller;
	margin: unset;
}
#fig1 {
	max-width: 30%;
	float: left;
	margin: 20px 20px 0 0;
}
#fig2 {
	max-width: 50%;
	float: right;
}